.borderAll {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset, 0 0 0 #000000;
	top: 30px;
	display: table;
	margin: 0 auto;
	width: 990px;
	clear: both;
	position: relative;
	height: 740px;
	padding-bottom: 50px;
}

#pubHeader {
	margin: 30px 20px;
}

.pubPanel {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset, 0 0 0 #000000;
}

#pubDescription {
	margin-bottom: 50px;
}

.margin15px {
	margin: 15px;
}

.panelLeft{
  	clear: left;
  	float: left;
	margin-left: 10px;
  	width: 650px;
  	margin-bottom: 15px;
}

#fbComment {
	text-align: center;
	margin-bottom: 15px;
}

#divImg {
	width: 620px;
	height: 350px;
}

#divImg img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
}

.title {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.padding {
	padding: 10px 15px;
}

#descTitle {
	margin-top: 50px;
}

#socialDetail {
	position: absolute;
	width: 620px;
}

#twitterShare, #facebookLike {
	float: left;
	width: 100px;
}

#twitterShare {
	margin-left: 200px;
}

#googleOne {
	float: left;
	width: 80px;
}

#adsDetail {
	height: 650px;
	position: absolute;
	top: 185px;
	width: 100%;
	z-index: -1;
}

#adsLeftDetail {
	float: left;
	margin-left: 2%;
}

#adsRightDetail {
	float: right;
	margin-right: 2%;
}