.whiteBorder {
	background-color: #FFFFFF;
	border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 3px;
}

#detailLeft {
	float: left;
	margin-bottom: 14px;
	width: 770px;
	overflow: hidden;
}

#detailLeft > div {
	margin-bottom: 10px;
	padding: 10px;
}

.innerDetails {
	position: relative;
}

#address {
	font-weight: bold;
}

#imageDiv {
	clear: both;
	position: relative;
}

#imageDiv > div {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

#pubImage {
	height: 420px;
}

#pubImage img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
}

#innerLeft-social {
	height: 25px;
}

#innerLeft-social > div {
	float: left;
	width: 100px;
}

#facebookLike {
	margin-left: 250px;
}

#googleOne {
	width: 80px !important;
}

#pubViews {
	float: right !important;
	text-align: right;
	bottom: 5px;
	overflow: hidden;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	width: 210px !important;
}

#ratingCount {
	float: right;
	font-size: 10px;
	margin-top: 10px;
	text-align: right;
	width: 100px;
}

#star-pub {
	float: right;
	margin-top: 5px;
	width: 110px !important;
}

#messageView {
	font-size: 10px;
}

#innerLeft-desc{
	padding: 15px !important;
}

#pub-desc {
	font-size: 12px;
	text-align: justify;
}

#innerLeft-users-desc {
	padding: 0px !important;
}

.action-review {
	float: right;
	margin-right: 10px;
}

.ul-review > li {
	border-bottom: 1px solid #EEEEEE;
	overflow: hidden;
	padding: 10px;
}

.user-review {
	float: left;
	position: relative;
	width: 85%;
}

.username-review {
	margin-bottom: 5px;
}

.userProfileLink {
	color: #505050 !important;
	font-size: 11px !important;
}

.userProfileLink:HOVER {
	color: black !important;
	font-size: 13px !important;
}

#innerLeft-ads {
	text-align: center;
}

#detailsRight {
	float: left;
	position: relative;
	margin-bottom: 20px;
	margin-left: 20px;
	width: 375px;
}

#detailMap {
	clear: left;
	height: 250px;
	margin-bottom: 10px;
	padding: 10px;
}

#pubMap {
	width: 350px;
	height: 250px;
	border-style: solid;
	border-width: 1px;
}

#detailsInfo {
	clear: left;
	margin-bottom: 20px;
	overflow: hidden;
}

.title-h3 {
	background-image: linear-gradient(#FFFFFF, #EEEEEE);
	border-bottom: 1px solid #DDDDDD;
	line-height: 1;
	padding: 10px;
}

.title-h3-checked {
	background-image: linear-gradient(#FFFFFF, #AAAAAA);
	border-bottom: 1px solid #DDDDDD;
	line-height: 1;
	padding: 10px;
}

.imgTitleH3 {
	float: right;
	width: 50px;
}

#innerInfo {
	overflow: hidden;
	padding: 10px;
}

#innerInfo a {
	color: black !important;
	font-size: 13px !important;
}

#innerInfo span {
	bottom: 5px;
	position: relative;
}

#info-social {
	margin-top: 10px;
}

#info-social > div {
	float: left;
	margin-right: 5px;
}

#innerAds {
	text-align: center;
}

.ui-widget-header {
	background: rgb(76,76,76) !important; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjNGM0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzJjMmMyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzIxMjEyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMzEzMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(44,44,44,1) 50%, rgba(33,33,33,1) 51%, rgba(19,19,19,1) 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(33,33,33,1)), color-stop(100%,rgba(19,19,19,1))) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(44,44,44,1) 50%,rgba(33,33,33,1) 51%,rgba(19,19,19,1) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(44,44,44,1) 50%,rgba(33,33,33,1) 51%,rgba(19,19,19,1) 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(44,44,44,1) 50%,rgba(33,33,33,1) 51%,rgba(19,19,19,1) 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(44,44,44,1) 50%,rgba(33,33,33,1) 51%,rgba(19,19,19,1) 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ) !important; /* IE6-8 */
}

#messageForm {
	margin-top: -10px;
}

#messageForm > div {
	margin-bottom: 10px;
}

.text-area-detail {
	height: 100px;
	padding: 5px;
	width: 500px;
}

.action-h3 {
	height: 35px;
	padding: 0;
}

#pubAction {
	float: right;
	margin-top: -35px;
}

.li-pub-action {
	float: left;
	margin-right: 5px;
}

.marginLeft40px {
	margin-left: 40px;
}

.height15px {
	height: 15px;
}

.div-action {
	border: 1px solid #CCCCCC;
	float: left;
	padding: 10px;
	text-align: center;
	width: 44%;
}

#favorite {
	border-right: medium none;
	margin-left: 1px;
}