.borderAll {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset, 0 0 0 #000000;
	top: 30px;
	display: table;
	margin: 0 auto;
	width: 990px;
	clear: both;
	position: relative;
	height: 740px;
	padding-bottom: 50px;
}

#pubName {
	margin: 30px 20px;
	width: 700px;
}

.pubPanel {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset, 0 0 0 #000000;
}

.margin15px {
	margin: 15px;
}

.panelLeft{
  	clear: left;
  	float: left;
	margin-left: 10px;
  	width: 650px;
  	margin-bottom: 15px;
}

#fbComment {
	text-align: center;
	margin-bottom: 15px;
}

#fbLikeBox {
	margin: 5px 5px 10px;
}