ul, ol {
  padding: 0;
}

ul.unstyled, ol.unstyled {
  list-style: none outside none;
  margin: 0;
}

#footer {
	background: linear-gradient(to bottom, #000000 0%, #45484D 100%) repeat scroll 0 0 transparent;
	bottom: 0;
	box-shadow: 0 0 5px 5px #777777;
	color: white;
	padding: 10px;
	margin-top: 50px;
}

.div-footer {
	position: relative;
	text-align: center;
}

#footer a {
  color: inherit;
  text-decoration: none;
}

#footer a:hover {
  color: gray;
  text-decoration: underline;
  outline: 0 none;
}

#footer a:active {
  outline: 0 none;
}