#footer {
	background-color: white;
	padding-bottom: 110px;
}

#footer > div {
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
}

#footer #footerLeft {
	float: left;
}

#footer #footerLeft > div {
	float: left;
	margin-right: 30px;
}

#footer #footerLeft h5 {
	font-size: 12px;
	margin-bottom: 10px;
}

#footer #footerLeft a {
	color: black !important;
	font-size: 12px !important;
}

#footer #footerRight {
	color: #999999;
	float: right;
	padding-top: 10px;
}

.spanCopyright {
	float: left;
	margin-top: 3px;
	position: relative;
}

#footerSocial {
	float: left;
	margin-top: 0;
	padding: 0;
	list-style: none outside none;
}

#footerSocial li {
	float: left;
}

#footerSocial li a span {
	display: block;
	height: 24px;
	margin-left: 5px;
	width: 24px;
}

.twitter span {
	background-image: url("../imgs/twitter.png");
}

.facebook span {
	background-image: url("../imgs/facebook.png");
}