#helpOptions {
	margin-bottom: 10px;
}

.h3 {
	background-image: linear-gradient(#FFFFFF, #EEEEEE);
	border-bottom: 1px solid #DDDDDD;
	line-height: 1;
	padding: 10px;
}

.paddingHelp {
	overflow: hidden;
	padding: 10px;
}

#detailsRight a {
	color: black !important;
	font-size: 13px !important;
}

#detailsRight span {
	bottom: 5px;
	position: relative;
}