/**
* buttons and icons
*/
button, a {
	font-size: 12px !important;
	font-weight: bold !important;
}

a {color: black; text-decoration: none;}
a:HOVER {text-decoration: underline;}
a:ACTIVE {text-decoration: none;}
a:VISITED {text-decoration: none;}

#main-pubs-list {
	height: 950px;
}

#main-pubs-list img {
	height: 150px;
	width: 260px;
}

.div-img {
	height: 150px;
	width: 260px;
}

#div-table {
	height: 950px;
	margin: 0 auto;
	position: relative;
	width: 995px;
}

ul#ul-list {
	clear: both;
	content: "";
	display: table;
	margin-left: -55px;
}

.li-pub-item {
	float: left;
	margin-left: 60px;
	margin-top: 50px;
	width: 285px;
}

ol#pagination {
	margin-right: 110px;
	position: absolute;
	right: 0;
	top: 920px;
}

ol#pagination li {
	background: linear-gradient(to bottom, #000000 0%, #45484D 100%) repeat scroll 0 0 transparent;
	box-shadow: 0 0 5px 5px #777777;
	color: white;
	cursor: pointer;
	float: left;
	font-size: 11px;
	font-weight: bold;
	list-style: none outside none;
	text-align: center;
	width: 60px;
}

#listHeader {
	margin: 50px auto 0;
	width: 995px;
}

#views {
	font-size: 30px;
	font-weight: bold;
	margin-left: 160px;
	margin-top: -25px;
	position: absolute;
	text-align: right;
	width: 100px;
}

#pubName {
	font-size: 16px;
	width: 260px;
}

#pubCity {
	margin-top: 3px;
}

#pubCity, #pubCountry {
	font-size: 10px;
	height: 12px;
}

#adsTop100 {
	height: 650px;
	position: absolute;
	top: 185px;
	width: 100%;
	z-index: -1;
}

#adsLeftTop100 {
	float: left;
	margin-left: 2%;
}

#adsRightTop100 {
	float: right;
	margin-right: 2%;
}