/**
elementos para a tela de login
*/

.loginBody {
    font-family: 'PT Sans', sans-serif;
    min-height: 700px;
}

#div-signIn {
	top: 40%;
	left: 50%;
	width: 330px;
	margin-left: -165px;
	height: 260px;
	margin-top: -130px;
	padding: 10px;
	position: absolute;
}

#div-password {
	top: 40%;
	left: 50%;
	width: 330px;
	margin-left: -165px;
	height: 170px;
	margin-top: -85px;
	padding: 10px;
	position: absolute;
}

#div-signUp {
	top: 40%;
	left: 50%;
	width: 640px;
	margin-left: -320px;
	height: 260px;
	margin-top: -130px;
	padding: 10px;
	position: absolute;
}

.div_login_content {
	margin: 0 0 1.5em;
}

.login_h2 {
	font-size: 16px;
	height: 16px;
	line-height: 17px;
	margin: 0 0 1.2em;
	position: relative;
}

#btnLogin, #btnCreateNewUser, #btnSendPassword {
	font-size: 10px !important;
	font-weight: bold !important;
}

.input_login {
	width: 283px;
	height: 32px;
	font-size: 16px;
}

.errorblock {
	background-color: #FFEEEE;
	border: 1px solid black;
	box-shadow: 3px 3px 5px 6px #777777;
	color: #FF0000;
	font-weight: bold;
	height: 20px;
	left: 50%;
	margin-left: -165px;
	margin-top: -170px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 37%;
	width: 330px;
}

.signup {
	text-align: right;
  	float: right;
  	margin-top: 5px;
}

#loginSize {
	height: 700px;
}

#bodyLogin #footer {
	padding-top: 50px;
}

.float {
	float: left;
}

.marginR {
	margin-right: 20px;
}

.padding20px {
	padding: 20px;
}

.a_color {
	color: red !important;
	font-size: 13px !important;
}