html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/**
* buttons and icons
*/
button, a {
	font-size: 12px !important;
	font-weight: bold !important;
}

a {color: black; text-decoration: none;}
a:HOVER {text-decoration: underline;}
a:ACTIVE {text-decoration: none;}
a:VISITED {text-decoration: none;}

.nav-buttons {
	margin-right: 10px !important;
}

.icons {
	width: 25px !important;
	height: 25px;
}

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
    min-height: 820px;
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));

    -webkit-font-smoothing: antialiased;
}

.navigator {
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(69,72,77,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(69,72,77,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */

	box-shadow: 0px 0px 5px 5px #777777;
	
	padding: 10px;
}

#right-buttons {
	margin-left: auto;
	position: relative;
	width: 270px;
	text-align: right;
}

#left-buttons {
	position: absolute;
	margin-left: 10px;
}

#main_content {
	top: 40%;
	left: 50%;
	width: 610px;
	margin-left: -305px;
	height: 200px;
	margin-top: -100px;
	padding: 10px;
	position: absolute;
}

.div-search-bar {
	position: absolute;
	bottom: -10px;
}

.div-pub-image {
	font-size: 16px;
	height: 16px;
	line-height: 17px;
	margin: 0 0 1.2em;
	position: relative;
	text-align: center;
}

#location {
	width: 600px;
	height: 32px;
	font-size: 20px;
}

.input-box {
	background: none repeat scroll 0 0 rgba(57, 60, 61, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	float: left;
	line-height: 1.2;
	padding: 4px;
}

.messageAlert {
	color: red;
	font-weight: bold;
}

#socialPlugins {
	position: absolute;
	top: 15%;
	width: 140px;
	left: 1%;
}

#main-large {
	display: table;
	margin: 0 auto;;
	width: 1050px;
	clear: both;
	position: relative;
	height: 880px;
}

.overflow {
	width: 100%;
}

#legend {
	background: white;
	border: 3px solid #000000;
	margin: 10px;
	padding: 10px;
}

#right {
  float: left;
  margin-left: 15px;
  width: 300px;
}

#legend, #right span {
	bottom: 3px;
	position: relative;
}

.center {
	text-align: center;
}

#btnEditPub {
	font-size: 13px;
	font-weight: bold;
}

#error-page {
	height: 580px;
	text-align: center;
}

#error-msg {
	margin-top: 100px;
	font-size: 25px;
    font-weight: bold;
}

#notes {
	color: red;
	font-size: 12px;
	font-weight: bold;
}

#ie {
	bottom: -20px;
	color: red;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	text-align: center;
	width: 617px;
}

.topBorder {
	border-top: 5px solid rgba(0, 0, 0, 0.2);
}

#divCountrys {
	height: 450px;
	position: absolute;
	width: 100%;
	top: 85%;
}

#divCountrys img {
	height: 190px;
	width: 300px;
}

#postalPics table {
	border-spacing: 50px;
	margin-left: auto;
	margin-right: auto;
}

.nav_white {
	background: white;
	box-shadow: 0px 0px 5px 5px #777777;
	padding: 10px;
}

#div-table .nav_white{
	width: 260px;
	height: 50px;
}

#divCountrys #footer {
	margin-top: 60px;
}

/* ads */
#adsPics, #adsMaps {
	position: absolute;
	top: 73%;
	width: 100%;
}

#adsMaps {
	top: 560px;
}

#adsLeft {
	float: left;
	margin-left: 5%;
}

#adsRight {
	float: right;
	margin-right: 5%;
}

.adsPicsLeftRight {
	position: relative;
	text-align: center;
	width: 480px;
}