#info-site > div {
	margin-bottom: 10px;
}

.tipTitle {
	font-weight: bold;
}

.tipDesc {
	font-style: italic;
}



/**
elementos para a tela de pubs
*/

fieldset {
	border: 0 none;
	margin: 30px 0 0;
}

label {
	display: block;
	margin-bottom: 5px;
}

#control-panel {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset, 0 0 0 #000000;
	margin: 0px;
	width: 700px;
	top: 30px;
	position: relative;
}

.control-group {
	margin-bottom: 18px;
}

.control-label {
	float: left;
	padding-top: 5px;
	text-align: right;
	width: 100px;
}

.controls {
	margin-left: 110px;
}

.buttons {
	font-size: 10px !important;
	font-weight: bold !important;
	margin-top: 5px;
}

.inputs {
	width: 280px;
	height: 20px;
	font-size: 15px;
    padding: 4px;
    font-family: inherit;
}

.text-area-input {
	font-size: 15px;
    padding: 4px;
    font-family: inherit;
    height: 225px;
    width: 580px;
}

.errors {
	color: red;
	font-size: 13px;
	font-weight: bold;
	margin-top: 5px;
}

.fixedTips {
	position: fixed;
	width: 375px;
}

.mandatory {
	color: red;
	font-weight: bold;
}