/**
elementos para a tela de pubs
*/

fieldset {
	border: 0 none;
	margin: 0;
}

label {
	display: block;
	margin-bottom: 5px;
}

#main {
	display: table;
	margin: 0 auto;
	width: 1050px;
	clear: both;
	position: relative;
	height: 740px;
}

#control-panel {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset, 0 0 0 #000000;
	margin: 0px;
	width: 700px;
	top: 30px;
	position: relative;
}

#control-title {
	padding-top: 30px;
	width: 500px;
}

#control-title-description {
    line-height: 24px;
}

.register-title {
	padding: 10px 15px;
}

.control-main {
	padding-left: 30px;
}

.control-group {
	margin-bottom: 18px;
}

.control-label {
	float: left;
	padding-top: 5px;
	text-align: right;
	width: 100px;
}

.controls {
	margin-left: 110px;
}

.padtop {
	padding-top: 30px;
}


.buttons {
	font-size: 10px !important;
	font-weight: bold !important;
	margin-top: 5px;
}

.inputs {
	width: 280px;
	height: 20px;
	font-size: 15px;
    padding: 4px;
    font-family: inherit;
}

.text-area-input {
	font-size: 15px;
    padding: 4px;
    font-family: inherit;
    height: 225px;
    width: 580px;
}

.ui-button {
	font-size: 13px;
	font-weight: bold;
}

.errors {
	color: red;
	font-size: 13px;
	font-weight: bold;
	margin-top: 5px;
}