#userLeft {
	float: left;
	margin-bottom: 20px;
	position: relative;
	width: 300px;
}

#userLeft > div {
	margin-bottom: 10px;
}

#userRight {
	float: left;
	margin-bottom: 14px;
	margin-left: 20px;
	overflow: hidden;
	width: 850px;
}

.innerUserDetails > div {
	padding: 0 10px 10px;
}

.user-config-profile > div {
	margin-bottom: 5px;
}

.aBlack11px span {
	bottom: 5px;
	position: relative;
}

.aBlack11px a {
	color: black !important;
	font-size: 11px !important;
}

.userInnerLeft {
	padding: 0px !important;
}

#topUserSection {
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	width: 1170px;
}

.user-info {
	height: 90px;
}

#user-left {
	float: left;
	position: absolute;
	width: 320px;
}

#user-pic {
	float: left;
	margin-right: 10px;
	padding: 3px;
	position: relative;
	z-index: 100;
}

.user-pic-span {
	display: block;
	height: 75px;
	overflow: hidden;
	width: 75px;
}

.userImgProfile {
	border: 0 none;
	max-width: 100%;
	vertical-align: middle;
}

#user-welcome {
	display: inline-block;
	margin-top: 5px;
	position: relative;
	width: 220px;
}

#user-welcome a {
	color: black !important;
}

#user-welcome #big-username a {
	font-size: 20px !important;
}

/**
* last reviews
*/
#pub-review-pic {
	display: inline-block;
	float: left;
	width: 15%;
}

#pub-review-pic .pubThumb {
	height: 100px;
	width: 100px;
	background: url("../imgs/noImagePubUser.png") no-repeat scroll 50% 50% transparent;
}

#pub-review-pic .pubThumb img {
	max-width: 230px;
	min-height: 100px;
}

#user-pub-review {
	float: left;
	width: 80%;
}

#user-pub-review > div {
	margin-bottom: 10px;
}

#user-pub-review #user-pub-review-title {
	margin-bottom: 5px;
}

#review-pub-name {
	color: black !important;
	font-size: 13px !important;
}

/* edit user profile */
.marginBotton10px {
	margin-bottom: 10px;
}

.floatLeft45 {
	float: left;
	width: 47%;
}

.userInput {
	width: 250px;
}

.width80px {
	width: 80px !important;
}

.width120px {
	width: 120px !important;
}

.controlsLeft {
	margin-left: 90px;
}

.controlsRight {
	margin-left: 520px;
}

.displayInlineBlock {
	display: inline-block;
}

#btnChangePicture {
	font-size: 10px !important;
}

.wishPubDesc {
	height: 50px;
	overflow: hidden;
}