<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Handles HTTP GET requests for by efficiently serving up static resources -->
	<mvc:view-controller path="/" view-name="index"/>
	
	<mvc:resources location="/resources/css/" mapping="/css" />
	<mvc:resources location="/resources/imgs/" mapping="/imgs" />
	<mvc:resources location="/resources/js/" mapping="/js" />
	
	<!-- Register the welcome.properties -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>
	
	<bean id="localeResolver"
       class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
       <property name="cookieName" value="locale" />
       <property name="cookieMaxAge" value="30" />
       <property name="defaultLocale" value="en" />
    </bean>

    <bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/pages/" />
        <property name="suffix" value=".jsp" />
    </bean>
    
    <bean id="multipartResolver"
	    class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	</bean>

	<!-- Handles HTTP GET requests for /resources/** by efficiently serving 
		up static resources in the ${webappRoot}/resources directory -->
    <mvc:resources mapping="/resources/**" location="/resources/" />

</beans>